html,
body { height: 100%; }

body {
	display: table;
	width: 100%;
}

.page-row {
	display: table-row;
	height: 1px;
}

.page-row-expanded { height: 100%; }

.footer{
	bottom: 0;
	margin-top: 50px;
	padding: 30px 0 30px 0;
	width: 100%;
	background-color: #f5f5f5;
}

.pgInicial{
	margin-top: 2%;
}

.padding{
	margin-bottom: 40px;
}
.panel-default > .panel-heading {
	font-weight:bold;
}

.navbar-nav>li>a.profile-image {
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer>.container>div>p>i.fa-heart
{
	color: #CC0000;
	font-size: 17px;
}