html,
body { height: 100%; }

body {
	display: table;
	width: 100%;
}

.page-row {
	display: table-row;
	height: 1px;
}

.page-row-expanded { height: 100%; }

.padding
{
	padding-top: 120px;	
	padding-bottom: 50px;
}

.paddingBusca
{
	padding-top: 30px;
}

.footer{
	bottom: 0;
	width: 100%;
	background-color: #f5f5f5;
}

.navbar-nav>li>a.profile-image {
	padding-top: 10px;
	padding-bottom: 10px;
}

footer>div.footer-below>div.container>div.row>div.col-lg-12>p>i.fa-heart
{
	color: #CC0000;
	font-size: 17px;
}
table>tbody>tr>td.bold
{
	font-weight: bold;
}